@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Permanent+Marker&display=swap');
*{ max-width: 1000px;
margin: auto;}

:root {
    --primary-color: #2d4d2e ;
    --secondary-color: #772F1A;
    --accent1-color:  #a4e5e6;
    --accent2-color: #030303;

    --heading-font: 'Permanent Marker', san-serif;
    --paragraph-font: 'Courier Prime', san-serif;

    --nav-background-color: #00ccd0 ;
    --nav-link-color: #FBFBFF ;
    --nav-hover-link-color: #fbfbfb ;
    --nav-hover-background-color: #772F1A ;

}

body { 
    font-family: var(--paragraph-font) ;
    max-width: 960px;
    padding: 20px;
    margin: 0 ;
    }
h1 {
    font-family: var(--heading-font); 
    color: var(--accent1-color);
    text-shadow: 1px 4px 0 #030303 ;
    }

 header{
        padding: 5px;
         display: grid ;
         grid-template-columns: 1fr 3fr ;
         align-items: center ;
         background-color:var(--nav-hover-background-color)
 }
.navigation { 
    display: flex ;
    justify-content: space-around ;
    }

    .navigation a {
        display: inline-block;
        background-color: var(--primary-color);
        color: var(--nav-background-color);
        padding: 10px;
        text-decoration: none;
        text-shadow: 1px 2px 0 var(--accent2-color);
      }

 
.logo img {
    width :150px ;
    height: auto ; 
    

}

.contact {position:relative;
}
.contact h1{ 
    display : inline-block ;
    padding:0.2rem ;
    position : absolute;
    margin:0;
    top : 50px; 
    left : 200px;
    background-color: #2d4d2e90 ; 
    font-size: 60px;
    }

    .contact article{ 
        display: inline-block;
        background-color: #2d4d2e ;
        position : absolute;
        top : 200px; 
        left : 20px; 
        margin-right: 30px ;
        font-size: 30px;
        color: var(--accent1-color)
    }
    .contact img {
        position : relative ;
        display:block;
        float: inline-end; 
        height: auto ;
        width: 100% ; 
        margin-bottom: 10px;

    }
h2{
    font-size: 30px;
    font-family: var(--heading-font);
    color: var(--nav-background-color);
    text-shadow: 1px 2px 0 var(--accent2-color); 
    text-align: left;
    padding: 1em;
    background-color: var(--secondary-color); }
.map { 
    max-width : 100% ;
    max-height: auto ;
    border:0 ;
    margin : 10px;
    border:0;
    
}

.information .content{ 
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap:  0 px;
    background-color: var(--primary-color);
    max-width: 100% ;
    height: auto ; 
    align-items: center ;
}
.information h6 { 
    font-family: var(--paragraph-font);
    font-size : 15px; 
    margin: 20px;
    color : var(--accent1-color);
}

  .information .content .map {
    grid-column : 2/3 ;
    
  }

  .information .content .grid-item  {
    display:flex ;
    flex-direction: column ;
    grid-column : 1/2;
  }

h3 {font-size : 25px ;  
    font-family: var(--heading-font);
    color: var(--nav-background-color);
    text-shadow: 1px 2px 0 var(--accent2-color); 
    text-align: center ;
    padding: 1em;
    background-color: var(--secondary-color);

}
figure{
     color: var(--accent1-color);

}
figure img { 
    width : 290px;
    height: auto ;
    margin: 10px;
}
 .title {
        width: 100% ; 
        text-align: center ; 
        margin:0px;  
      }

.title h2 { 
    font-size: 25px;
    font-family: var(--heading-font);
    color: var(--nav-background-color);
    text-shadow: 1px 2px 0 var(--accent2-color);
    text-align: center;
    background-color:  var(--secondary-color);
}
.employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--primary-color);
    width : 100% ;
    flex-direction : row ; 
}
.form p {
    font-size: 15px;
    font-family: var(--heading-font);
    color: var(--nav-background-color);
    text-shadow: 1px 2px 0 var(--accent2-color);
    text-align: center;
    background-color: var(--secondary-color);
  }
  
  .form {
    margin-bottom: 20px;
    background-color: var(--secondary-color);
    padding: 20px;
  
}
 
  fieldset {
    margin: 20px;
    color: var(--accent1-color);
    background-color: var(--primary-color);
    border: 0;
    max-width: 100%;
  }
  
  fieldset legend {
    font-weight: bold;
  }
  
  fieldset label {
    display: block;
    margin-bottom: 5px;
  }
  
  fieldset input[type="text"],
  fieldset input[type="email"],
  fieldset textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }

  
 .radio-container {
    float: left ; 
    clear: none;
    display: block ;
    padding: 0px 1em 0px 8px;
}
  
 .sub{
    float: left;
    clear:none; 
    margin-right:20px; }

  button[type="submit"] {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: var(--accent1-color);
  }

button[type="submit"] {
display: block;
margin-bottom: 20px auto;
padding: 10px 20px;
background-color: var(--primary-color);
color: var(--nav-background-color);
border: none;
cursor: pointer;

}

button[type="submit"]:hover {
background-color: var(--accent1-color);
}



footer{
    display : flex ;
    align-items: flex-start ;
    background-color: var(--secondary-color); 
    
       
}
.close p{
    color:var(--nav-background-color);}
.sociallinks img { 
    height : 40px;
    width: 40px; }

.sociallinks a {
        text-decoration: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        border: none;
        vertical-align: middle;
      }
