@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Permanent+Marker&display=swap');
*{ max-width: 1000px;
margin: auto;}

:root {
    --primary-color: #254224 ;
    --secondary-color: #503430;
    --accent1-color:#E1E68C ;
    --accent2-color: #030303;

    --heading-font: 'Permanent Marker', san-serif;
    --paragraph-font: 'Courier Prime', san-serif;

    --nav-background-color: #C8E6E6; ;
    --nav-link-color: #FBFBFF ;
    --nav-hover-link-color: #FBD9E8 ;
    --nav-hover-background-color: #4F332F ;

}

body { 
    font-family: var(--paragraph-font) ;
    max-width: 960px;
    padding: 20px;
    margin: 0 ;
    }


 header{
        padding: 5px;
         display: grid ;
         grid-template-columns: 1fr 3fr ;
         align-items: center ;
         background-color:var(--primary-color)
 }
.navigation { 
    display: flex ;
    justify-content: space-around ;
    }

    .navigation a {
        font-size : 20px ;
        display: inline-block;
        background-color: var(--secondary-color);
        color: var(--nav-background-color);
        border: 1px solid var(--accent2-color) ;
        padding: 10px;
        text-decoration: none;
        text-shadow: 1px 2px 0 var(--accent2-color);
      }
      nav a:hover {
        color: var(--nav-hover-link-color);
        background-color: var(--accent1-color);
    }

.logo img {
    width :150px ;
    height: auto ; 
}

.hero img {display: block;
width:100%;
height: auto ;
}

.happy img { 
    position : relative ;
    display:block;
    float: inline-end; 
    height: auto ;
    width: 290px ; 
    margin: 10px;
    margin-right: 9px;
    margin-bottom: 10px; }


.hero {position:relative;
}

.hero article{ 
    display: inline-block;
    background-color: var(--nav-hover-background-color) ;
    position : absolute;
    transform: translate(-5%,-20%) ;
    top : 390px; 
    left : 110px; 
    margin-right: 30px ;
}
.hero h1{ 
  display : inline-block ;
  position : absolute;
  margin:5px;
  padding: 5px ;
  transform:translate( -10%,-10%);
  top : 30%; 
  left :30%;
  font-size: 50px;
  color: var(--nav-hover-background-color) ;
  text-shadow: 1px 6px 0 var(--accent2-color);
  background-color: var(--nav-hover-link-color); 

  }
    .history h2 { 
        font-family: var(--heading-font);
        color: var(--nav-background-color);
        text-shadow: 1px 2px 0 var(--accent2-color); 
        text-align: center;
        padding: 1em;
        background-color: var(--secondary-color);
    
        }
    .history img { 
        width: 300px;
        height: auto;
        padding: 5px ;
        margin : 5px ;
    }   
    .history p {
        font-family: var(--paragraph-font);
        padding:10px;
        color : var(--accent1-color);
        font-size: 15px;
        
    } 
    .history section{ 
            margin:0.2rem ;
            display:block;
    
        }
.history .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: var(--primary-color);
  }
  
  .history .content .image {
    grid-column: 2/3;
    order: 2 ;
  }
  
  .history .content .text:first-child {
    order : 1 ; 
    grid-column : 1/3;
    
  }
  .history .content .text:last-child {
    order: 3;
    grid-column: 3/4;
  }
.adventure-text-container h2 {
      font-family: var(--heading-font);
      color: var(--nav-background-color);
      text-shadow: 1px 2px 0 var(--accent2-color);
      text-align: center;
      background-color:  var(--secondary-color);
    }
.adventure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--primary-color);
    width : 100% ;
    flex-direction : row ; 
  }
  
  .adventure-text-container {
    width: 100% ; 
    text-align: center ; 
    margin:0px;  
  }
  
  .adventure figure {
    color : var(--accent1-color);
    font-size: 12px ; 
    font-family : var(--paragraph-font) ;
    text-align: center ;
}
  
  .adventure figure img {

    width: 130px;
    height: auto;
    background-color: var(--primary-color);
    margin :0px ;

  }

  .contact {position:relative; }

  .contact h1{ 
      display : inline-block ;
      padding:0.2rem ;
      position : absolute;
      margin:5px;
      padding: 5px ;
      top : 50px; 
      left : 300px;
      font-size: 60px;
      color: var(--nav-hover-background-color) ;
      width: 40%; 
      text-shadow: 1px 6px 0 var(--accent2-color);
      background-color: var(--nav-hover-link-color); 
    }
  .contact p{ color : var(--nav-hover-link-color);
    font-family: var(--paragraph-font);
    font-size: 25px ; 
    text-align : right;}

  .hero p {
      color : var(--nav-hover-link-color);
      font-family: var(--paragraph-font);
      font-size: 25px ; 
      text-align : center;
  
  }
      .contact article{ 
          display: inline-block;
          position : absolute;
          top : 250px; 
          left : 150px; 
          margin-right: 30px ;
          font-size: 30px;
          color: var(--accent1-color);
          max-width: 600px;
          background-color:  var(--secondary-color);
      }
      .contact img {
          position : relative ;
          display:block;
          float: inline-end; 
          height: auto ;
          width: 100% ; 
          margin-bottom: 10px;
  
      }
.information h2{
  font-size: 30px;
  font-family: var(--heading-font);
  color: var(--nav-background-color);
  text-shadow: 1px 6px 0 var(--accent2-color); 
  text-align: left;
  padding: 1em;
  background-color: var(--secondary-color); }
  .map { 
      max-width: 100% ;
      height: auto ;
      border:0 ;
      margin : 10px;
      border:0;
      
  }
  
  .information .content{ 
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: 0 ;
      background-color: var(--primary-color);
      max-width: 100% ;
      height: auto ; 
      align-items: center ;
  }
  .information h6 { 
      font-family: var(--paragraph-font);
      font-size : 15px; 
      margin: 5px;
      color : var(--accent1-color);
  }
  
    .information .content .map {
      grid-column : 2/3 ;
      
    }
  
    .information .content .grid-item  {
      display:flex ;
      flex-direction: column ;
      grid-column : 1/2;
    }
  
  h3 {font-size : 30px ;  
      font-family: var(--heading-font);
      color: var(--nav-background-color);
      text-shadow: 1px 6px 0 var(--accent2-color); 
      text-align: center ;
      padding: 1em;
      background-color: var(--primary-color);
  
  }
  figure{
       color: var(--accent1-color);
  
  }
  figure img { 
      width : 290px;
      height: auto ;
      margin: 10px;
  }
   .title {
          width: 100% ; 
          text-align: center ;  
        }
  
  
  .title h2{ 
      font-size: 30px;
      font-family: var(--heading-font);
      color: var(--nav-background-color);
      text-shadow: 1px 6px 0 var(--accent2-color);
      text-align: center;
      background-color:  var(--secondary-color);
  }
  .employees {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: var(--primary-color);
      width : 100% ;
      flex-direction : row ; 
  }
  .form p {
      font-size: 20px;
      font-family: var(--heading-font);
      color: var(--nav-background-color);
      text-shadow: 1px 4px 0 var(--accent2-color);
      text-align: center;
      background-color: var(--secondary-color);
    }
    
    .form {
      
      background-color: var(--secondary-color);
      padding: 30px 20px;

    
  }
   
    fieldset {
      margin: 20px;
      color: var(--accent1-color);
      background-color: var(--primary-color);
      border: 0;
      max-width: 100%;
    }
    
    fieldset legend {
      color: var(--nav-background-color);
      text-shadow: 1px 6px 0 var(--accent2-color); 
      text-align: center;
      font-family: var(--heading-font);
      font-size: 30px;
    }
    
    fieldset label {
      display: block;
      margin: 2px ;

    }
    
    fieldset input[type="text"],
    fieldset input[type="email"],
    fieldset textarea {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      background-color: var(--nav-hover-link-color);
    }
  
    
   .radio-container {
      float: left ; 
      clear: none;
      display: block ;
      padding: 0px 1em 0px 8px;
  }
    
   .sub{
      float: left;
      clear:none; 
      margin-right:20px; }

  
  
  button[type="submit"] {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 
  var(--paragraph-font);
  margin-bottom: 20px ;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--accent1-color);
  border: none;
  cursor: pointer;
 }
  
  button[type="submit"]:hover { 
      font-family: var(--paragraph-font);
      background-color: var(--accent2-color);
  }
  
/*This is where the trip css starts */

.trips-grid p{
  color : var(--accent1-color);
  background-color: var(--primary-color);
  font-family: var(--paragraph-font);
  font-size: 20px ; 
  padding: 34.5px; 
 }

.trip a:hover {
  background-color: var(--accent2-color);}

.trips-grid {
  display : grid ;
  grid-template-columns: 5fr auto ;
  gap: 0px;
  padding : 0px ; 
  background-color: var(--secondary-color);

}.trips-grid-item {
  display : block ; 
  text-align: center ; 
}
.trip { 
display: flex; 
align-items: center;
justify-content: center;
background-color: var(--secondary-color);
}

.trip a  { text-decoration: none;}
.button {
  display: block; 
    background-color: var(--secondary-color);
    color: var(--nav-hover-link-color) ;
    font-size: 20px;
   text-decoration: none;
  padding:45px 20px ; 

}
.button:hover {
  background-color: var(--accent2-color);
}
.picture img {
  width:100%;
}
.picture{
  background-color: var(--secondary-color);}


/* pictures and detailed decsription of the "our best trips!"sections  */
  .best-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color:  var(--secondary-color);
    gap: 0px ; 
    margin : 0px ; 
  }
 .best
  h2{
  padding-top : 20px;
  padding-bottom: 20px;
  font-size: 30px;
  font-family: var(--heading-font);
  color: var(--nav-background-color);
  text-shadow: 1px 6px 0 var(--accent2-color); 
  text-align: center;
  background-color: var(--secondary-color); }

 
  .best-container img {
    width: auto; 
    margin : 0px ; 
  
  }
  
.first , .second , .third {
  display : flex ;
  flex-wrap: row wrap ;
  justify-content: space-evenly;
  padding : 10px ; 
}

.best .best-container .text{ 
  display: inline-block;
  order : -1;
  max-width: auto;
  width : 100% ;   
  margin : 10px ;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  font-size: 25px;
  font-family: var(--heading-font);
  background-color: var(--nav-hover-link-color);
  color: var(--secondary-color); 
  padding-top: 90px;

}

.best .best-container .description { 
  display: inline-block ;
  width: 100% ; 
  background-color: var(--primary-color);
  color: var(--accent1-color); 
  font-size: 15px;
  font-family: var(--paragraph-font);
  font-style: normal;
  margin : 10px ; 
  text-align: center;
  padding-top: 10px;
  padding: 10px;
 
}
/* The table section */
.table  h2{
  padding-bottom: 20px;
  font-size: 30px;
  font-family: var(--heading-font);
  color: var(--nav-background-color);
  text-shadow: 1px 6px 0 var(--accent2-color); 
  text-align: center;
  background-color: var(--secondary-color); }

  table {
    width: 100%;
    border-collapse: collapse;

  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border : 1px solid var(--primary-color);
  }
  
  thead th {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-family: var(--heading-font);
    text-align: center;
  }
  
  tbody tr {
    background-color: var(--nav-hover-link-color);
    color: var(--nav-hover-background-color);
    font-family: var(--paragraph-font);

  }
  
  tbody tr:hover {
    background-color: var(--nav-link-color);
  }



/*This is the index page */

.home img {
  display: block;
  width:100%;
}

.home {
  position:relative;
}

.home .content {
  display: flex; 
  flex-wrap: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width:40%;
}

.home .content h1 {
  font-size: 50px;
  color: var(--nav-hover-background-color);
  text-shadow: 1px 6px 0 var(--accent2-color);
  background-color: var(--nav-hover-link-color);
  margin-bottom: 10px;
  margin-right: 100px;
}

.home .content button {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  margin-left:90px; 
}
.home .content button:hover {
  background-color: var(--primary-color);
  cursor: grab;
}
/*Our purpose and offerings : flex in each container then grid*/
.purpose h2 {font-size: 30px;
  font-family: var(--heading-font);
  color: var(--nav-background-color);
  text-shadow: 1px 6px 0 var(--accent2-color);
  text-align: center;
  background-color:  var(--secondary-color);}

.firsthome , .secondhome {
  display: flex ;
  flex-direction: column ;
}
.purpose-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
gap: 5px;

}

/*contact us section in the trips page */
.purpose img{
width: 100%; 
height: auto ; 
padding: 5px;
}

.purpose , .purpose .first{
  background-color: var(--primary-color);
}
.purpose p {
  color:var(--accent1-color);
  margin: 10px ; 
  font-size: 15px;
  text-align: center;
}

.purpose a  { text-decoration: none;}
.purpose button {
  display: block; 
    background-color: var(--secondary-color);
    color: var(--nav-hover-link-color) ;
    font-size: 20px;
   text-decoration: none;
   margin: 0px 10px 0px 40px;
   padding: 100px 50px 100px 50px;


}
.purpose button:hover {
  background-color: var(--accent1-color);
}

 
/* the footer section */
  footer{
    display : flex ;
    align-items: flex-start ;
    background-color: var(--primary-color); 

       
}
.close p{
    color:var(--nav-background-color);}
.sociallinks img { 
    height : 40px;
    width: 40px; }

.sociallinks a {
        text-decoration: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        border: none;
        vertical-align: middle;
      }
