@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Permanent+Marker&display=swap');
*{ max-width: 800px;
margin: auto;}

:root {
    --primary-color: #2d4d2e ;
    --secondary-color: #772F1A;
    --accent1-color:  #a4e5e6;
    --accent2-color: #FBFBFF;

    --heading-font: 'Permanent Marker', san-serif;
    --paragraph-font: 'Courier Prime', san-serif;

    --nav-background-color: #00ccd0 ;
    --nav-link-color: #FBFBFF ;
    --nav-hover-link-color: #fbfbfb ;
    --nav-hover-background-color: #772F1A ;

}

body { 
    font-family: var(--paragraph-font) ;
    max-width: 960px;
    padding: 20px;
}
h1 {
    font-family: var(--heading-font); 
    color: var(--secondary-color);
    text-shadow: -3px 3px 0 #fbfbfb ;
    
}
h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-shadow : -2px 2px 0 (--secondary-color) ;
}

header{
    padding: 5px;
    background-color: var(--accent1-color) ;
}
p {
    padding: 2px;
}
nav {
    display: inline-block;
    margin:0 ;
    padding:0;
    text-decoration: none ;
}

.hero img {display: block;
width:100%;
height:auto;
}


.happy img { 
    display:block;
    margin: 0 auto;
    float: right; 
    height: auto ;
    width: 150px ; 
    margin-right: 10px;
    margin-bottom: 10px;
}



article { display : block ; 
    background-color: #00ccd0;

}

.hero {position:relative;}

.hero h1, article{ 
    position : absolute;
    top : 200px; 
    left : 70px; 
}

.hero h1{ display : block ;
    position : absolute;
    top : 60px; 
    left : 200px;}

.sociallinks img { 
    height : 40px;
    width: 40px; }

.sociallinks a {
        text-decoration: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        border: none;
        vertical-align: middle;
      }
